
}
body {
	font-color: #000;
	font-family: Impact;

}

h1{
	font-color: #9F000F;
	font-family:Snell Roundhand;
	font-size: 100px;
	float: center;
	margin-top: -80px;

}

p {
	font-family: Didot;
	width: 800px;
	text-size: 15px;
	text-align: justify;


}

body { 
	background-color: #95B9C7; 
}

.menu {
	margin-left: 1%;
}

