
}
body {

	
}

h1{
	font-color: #9F000F;
	font-family:Snell Roundhand;
	font-size: 40px;
	float: right;
	margin-right: 3%;
	margin-top: -80px;

}

p {
	font-family: Didot;
	width: 15px;
	font-color: #000000;


}

body { 
	background-color: #95B9C7; 
}


.menu {
	margin-left: 1%;
}

